body>header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

body>header>nav {
    display: grid;
    font-size: 14px;
    line-height: 36px;
    justify-items: center;
    align-items: center;
}
body>header>nav.not_logged {
    grid-template-columns: 540px auto 180px 120px;
}
body>header>nav.logged  {
    grid-template-columns: 540px auto 450px 120px;
}
body>header>nav>.user_operation {
    display: flex;
}

body>header #navigator .bilifont {
    font-size: 18px;
}
body>header #nav_homepage .bilifont {
    margin-right: 6px;
}
body>header #nav_download .bilifont {
    margin-right: 2px;
}
body>header #nav_homepage img {
    width: 70px;
    height: 32px;
    margin-right: 16px;
}

body>header>nav #search{
    display: grid;
    grid-template-columns: auto 48px;
    width: 100%;
    max-width: 500px;
}
body>header>nav #search input{
    height: 36px;
    padding: 0 16px;
    border-radius: 2px 0 0 2px;
    width: 100%;
    font-size: 14px;
    transition: all .2s;
    box-sizing: border-box;
    border: 1px solid #E7E7E7;
}
body>header>nav #search input:focus{
    color: #222222;
}
body>header>nav #search button{
    height: 36px;
    width: 48px;
    border-radius: 0 2px 2px 0;
    line-height: 26px;
    font-size: 16px;
    background-color: #e7e7e7;
    border:none;
}

body>header>nav>div a{
    color: #212121;
}
body>header>nav>#post{
    color: white;
    width: 100px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    background-color: #fb7299;
    border-radius: 2px;
    margin:10px;
    user-select: none;
    cursor: pointer;
}
body>header>nav input {
    background-color: #f4f4f4;
    color: #999;
}
body>header>nav>div .bilifont {
    color: #00a1d6
}

body>header>nav>#navigator>a, body>header>nav>.user_operation>a {
    display: flex;
    margin: 6px;
    align-items: center;
}
body>header>nav>#navigator {
    display: flex;
}

body>header .user_operation {
    justify-content: space-around;
}
body>header .user_operation * {
    margin: 10px
}
body>header .user_operation img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 1;
    transition: all ease .3s;
}

body>header>.hover>.user {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    box-shadow: 0 3px 6px rgba(0,0,0,.2);
    border-radius: 2px;
    background-color: #fff;
    z-index: 10;
    transition: all ease .3s;
}
body>header>.hover>.user>.avatar {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: -35px;
    left: 105px;
    background-size: cover;
    cursor: pointer;
}
body>header>.hover>.user>.username {
    color: #212121;
    font-size: 16px;
    font-weight: 600;
    margin-top: 42px;
}
body>header>.hover>.user>.level_content {
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;
}
body>header>.hover>.user>.level_content>.info {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 5px 0;
}
body>header>.hover>.user>.level_content>.info>.level {
    font-size: 14px;
    color: #212121
}
body>header>.hover>.user>.level_content>.info>.exp {
    font-size: 12px;
    color: #999999;
}
body>header>.hover>.user>.level_content>.bar {
    margin: 4px 0;
    height: 2px;
    background-color: #f4f4f4;
}
body>header>.hover>.user>.level_content>.bar>.progress {
    height: 100%;
    background-color: #f3cb85;
}
body>header>.hover>.user>.money {
    display: flex;
    padding: 14px 20px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: solid 1px #f4f4f4;
}
body>header>.hover>.user>.money>a {
    display: flex;
}
body>header>.hover>.user>.money img {
    height: 20px;
    width: 20px;
}
body>header>.hover>.user>.money span {
    margin: 0 20px 0 8px;
    color: #212121;
    font-size: 14px;
}
body>header>.hover>.user>.links {
    padding: 7px 0;
    width: 100%;
    border-bottom: solid 1px #f4f4f4;
}
body>header>.hover>.user>.links>a {
    padding: 8px 23px;
    display: flex;
    align-items: center;
    transition: all ease .3s;
    cursor: pointer;
    color: #000
}
body>header>.hover>.user>.links>a:hover {
    background-color: #f4f4f4;
}
body>header>.hover>.user>.links>.setting::before {
    content: "\E722";
    font-family: bilifont;
    margin-right: 5px;
    font-size: 24px;
    color: #979797;
}

body>header>.hover>.user>.logout {
    padding: 7px 0;
    width: 100%;
}
body>header>.hover>.user>.logout>span {
    padding: 8px 23px;
    display: flex;
    align-items: center;
    transition: all ease .3s;
    cursor: pointer;
}
body>header>.hover>.user>.logout>span:hover {
    background-color: #f4f4f4;
}
body>header>.hover>.user>.logout>span::before {
    content: "\E721";
    font-family: bilifont;
    margin-right: 5px;
    font-size: 24px;
    color: #979797;
}