body>header {
    height: 180px;
    background: linear-gradient(rgba(0,0,0,0.4),transparent),
    url(/statics/images/home/banner.jpg) center;
    background-size: cover;
    box-shadow: none !important;
}

body>header nav a {
    color: white !important;
}

body>header a .bilifont {
    color: white !important;
}

#main {
    width: 1200px;
    margin: 0 auto;
}

#menu {
    display: grid;
    grid-template-columns: 200px 748px 221px;
    justify-content: space-between;
    margin: 20px 0;
}

#menu a{
    transition: color .3s;
    cursor: pointer;
    color: #212121;
}
#menu a:hover{
    color: #00a1d6;
}

#menu>.left {
    display: flex;
}
#menu>.left a {
    text-align: center;
}
#menu>.left a::before {
    font-family: bilifont;
    color: #FFFFFF;
    margin: 0 6px 4px 6px;
    width: 36px;
    height: 36px;
    font-size: 28px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu>.left .home::before {
    content: "\E738";
    background-color: #FF5C7C;
}
#menu>.left .moments::before {
    content: "\E732";
    background-color: #FCBA2A;
}
#menu>.left .hot::before {
    content: "\E763";
    background-color: #FF716D;
}
#menu>.left .channel::before {
    content: "\E760";
    background-color: #6DC781;
}

#menu>.middle {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: center;
}
#menu>.middle a::after {
    content: "999+";
    color: #FFFFFF;
    background-color: #73c9e5;
    width: 32px;
    font-size: 12px;
    border-radius: 2px;
    margin: 0 8px 0 2px;
    display: inline-block;
    text-align: center;
    transform: scale(0.85);
}

#menu>.right {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
}
#menu>.right a{
    display: flex;
    align-items: center;
}
#menu>.right img{
    width: 1.8em;
    height: 1.8em;
}
#menu>.right span{
   margin: 0 4px;
}

#recommend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
#recommend a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
#recommend>.main {
    width: 550px;
    height: 242px;
}
#recommend>.main a {
    background: url(/statics/test/main_rcmd.jpg) center;
    background-size: cover;
}

#recommend>.list {
    display: grid;
    width: 638px;
    height: 242px;
    grid-template-columns: repeat(3, 206px);
    grid-template-rows: repeat(2, 116px);
    align-content: space-between;
    justify-content: space-between;
}
#recommend>.list a {
    background: url(/statics/test/list_rcmd.webp) center;
    background-size: cover;
}

section {
    display: grid;
    grid-template-columns: 854px 320px;
    grid-template-rows: 36px 404px;
    grid-row-gap: 16px;
    justify-content: space-between;
    margin-bottom: 40px;
}
section>.title {
    display: grid;
    grid-template-columns: 36px auto;
    grid-column-gap: 6px;
    align-items: center;
}
section>.title>img {
     width: 36px;
     height: 36px;
 }
section>.title a{
    font-size: 20px;
    color: #212121;
    transition: color .3s;
}
section>.rank {
    display: grid;
    align-items: center;
}
section>.rank span{
    font-size: 20px;
    color: #212121;
    transition: color .3s;
}

section>.list {
    display: grid;
    grid-template-columns: repeat(4, 206px);
    grid-template-rows: repeat(2, 190px);
    justify-content: space-between;
    align-content: space-between;
}
section>.list>article {
    display: flex;
    flex-direction: column;
}
section>.list>article>.cover {
    position: relative;
    height: 116px;
}
section>.list>article>.cover>img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
section>.list>article>.cover>.info {
    position: absolute;
    display: flex;
    align-items: center;
    height: 28px;
    padding: 6px 8px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}
section>.list>article>.cover>.info::before {
    position: absolute;
    content: "";
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
    width: 100%;
    left: 0;
    height: 48px;
    bottom: 0;
    z-index: -1;
}
section>.list>article>.cover>.info>span {
    color: #FFFFFF;
    font-size: 12px;
}
section>.list>article>.cover>.info>.views,
section>.list>article>.cover>.info>.likes {
    display: flex;
    align-items: center;
    margin-right: 10px;
}
section>.list>article>.cover>.info>.views::before,
section>.list>article>.cover>.info>.likes::before {
    font-family: bilifont;
    margin-right: 4px;
    font-size: 16px;
}
section>.list>article>.cover>.info>.views::before {
    content: "\E73E";
}
section>.list>article>.cover>.info>.likes::before {
    content: "\E740";
}
section>.list>article>.cover>.info>.length {
    position: absolute;
    right: 8px;
}
section>.list>article>.title, section>.list>article>.author {
     display: block;
    transition: color .3s;
}
section>.list>article>.title:hover, section>.list>article>.author:hover {
    color: #00a1d6;
}
section>.list>article>.title {
    margin: 10px 12px 8px 0;
    font-size: 14px;
    height: 40px;
    overflow: hidden;
    color: #212121;
}
section>.list>article>.author {
    font-size: 12px;
    color: #999999;
}
section>.list>article>.author::before {
    font-family: bilifont;
    content: "\E741";
    font-size: 16px;
    margin-right: 4px;
    vertical-align: middle;
}

section>.rank-list {
    display: grid;
    grid-template-rows: repeat(10, auto);
    align-content: space-between;
    font-size: 14px;
}
section>.rank-list>a {
    color: #212121;
    transition: color .3s;
    height: 20px;
    overflow: hidden;
}
section>.rank-list>a:hover {
    color: #00a1d6;
}
section>.rank-list>a::before {
    color: #999;
    margin-right: 12px;
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
}
section>.rank-list>:nth-child(1)::before,
section>.rank-list>:nth-child(2)::before,
section>.rank-list>:nth-child(3)::before{
    background-color: #00a1d6;
    color: #ffffff;
    border-radius: 2px;
}
section>.rank-list>:nth-child(1)::before {
    content: "1";
}
section>.rank-list>:nth-child(2)::before {
    content: "2";
}
section>.rank-list>:nth-child(3)::before {
    content: "3";
}
section>.rank-list>:nth-child(4)::before {
    content: "4";
}
section>.rank-list>:nth-child(5)::before {
     content: "5";
}
section>.rank-list>:nth-child(6)::before {
    content: "6";
}
section>.rank-list>:nth-child(7)::before {
    content: "7";
}
section>.rank-list>:nth-child(8)::before {
    content: "8";
}
section>.rank-list>:nth-child(9)::before {
    content: "9";
}
section>.rank-list>:nth-child(10)::before {
    content: "10";
}

