@font-face {
    font-family: bilifont;
    src: url(/statics/fonts/bilifont.woff) format("woff");
}

* {
    outline: none;
}

body {
    margin: 0
}

.bilifont {
    font-family: bilifont;
}

a {
    text-decoration: none;
}