#main {
    width: 420px;
    margin: 0 auto;
    padding: 60px 0;
}

#type_tab {
    margin-bottom: 12px;
}
#type_tab span {
    color: #555;
    margin-right: 20px;
    cursor: pointer;
}

.chosen_tab {
    color: #02a7de !important;
}

input#username, input#password, #verify_code input {
    border-radius: 4px;
    width: 420px;
}

#phone_number {
    display: grid;
    grid-template-columns: 130px auto;
}
#phone_number input{
    border-radius: 0 4px 4px 0;
}

#verify_code {
    height: 40px;
}
#verify_code button{
    height: 36px;
    width: 130px;
    position: relative;
    top: -38px;
    left: 288px;
}

.error_info {
    color: #f66495;
    font-size: 12px;
    height: 16px;
}

label[for="remember_me"] {
    color: #717171;
    font-size: 12px;
}

#remember_me_parent {
    cursor: pointer;
}
#remember_me_parent * {
    vertical-align: middle;
    cursor: pointer;
}
#remember_me {
    margin: 0 8px 0 0;
}
#remember_me_hint {
    color: #bbb;
    font-size: 12px;
}

#main a {
    font-size: 12px;
    float: right;
}

#buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
button {
    width: 180px;
    height: 40px;
}
button#register {
    background-color: #ffffff;
    color: black;
    border: 1px #ccc solid;
}
button#register:hover {
    background-color: #f7f7f7;
}