#main {
    margin: 0 auto;
    padding: 60px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 420px;
    width: 420px;
    grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}

#main input::-webkit-input-placeholder {
    color: #C0C4CC
}
#main p {
    position: relative;
    display: inline-block;
    line-height: 40px;
    color: #f45d90;
    font-size: 12px;
    margin: 0;
    top: -40px;
    left: 440px;
}

#username input, #password input, #verify_code input{
    border-radius: 4px;
    width: 420px;
}

#phone_number {
    display: grid;
    grid-template-columns: 130px auto;
}
#phone_number input{
    border-radius: 0 4px 4px 0;
}
#verify_code button{
    height: 36px;
    width: 130px;
    position: relative;
    top: -38px;
    left: 288px;
}

#license>label * {
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}
#license>label {
    font-size: 12px;
    line-height: 40px;
    cursor: pointer;
}

#register button {
    width: 420px;
    height: 40px;
}

#to_login a {
    font-size: 12px;
    float: right;
    line-height: 40px;
}