#main {
    width: 600px;
    margin: 50px auto 100px auto;
    border: 1px solid #e1e2e5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
    border-radius: 4px;
    padding: 40px 50px;
}
#main>div>h1 {
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: normal;
}
#main>#setting {
    margin-bottom: 40px;
}
#main>#setting>.wrapper {
    display: grid;
    grid-template-columns: 120px auto;
    grid-column-gap: 40px;
}
#main>#setting>.wrapper>.avatar {
    display: flex;
    flex-direction: column;
}
#main>#setting>.wrapper>.info {
    display: grid;
    grid-template-columns: 50px auto 80px;
    grid-row-gap: 10px;
    align-content: start;
    align-items: center;
}
#main>#setting>.wrapper>.avatar>img {
    width: 120px;
    height: 120px;
    border: 1px solid #e6eaf0;
    border-radius: 50%;
    margin-bottom: 20px;
}
#main>#setting>.wrapper>.avatar>label {
    background-color: #00A1D6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.1s;
    height: 36px;
    display: flex;
    font-size: 13px;
    justify-content: center;
    align-items: center;
}
#main>#setting>.wrapper>.avatar>label:hover {
    background: #33b4de;
}
#main>#setting>.wrapper>.avatar>input {
    display: none;
}
#main>#setting>.wrapper>.info>label {
    color: #898989;
}
#main>#setting>.wrapper button{
    height: 36px;
}
#main>#bonus {
    margin-bottom: 40px;
}
#main>#bonus>.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 10px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
#main>#bonus>.wrapper>.prize {
    font-size: 12px;
    color: #99a2aa
}
#main>#bonus>.wrapper>.now {
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 4px;
}
#main>#bonus>.wrapper>.now.done {
    background-color: #00c091;
}
#main>#bonus>.wrapper>.now.doing {
    background-color: crimson;
}
#main>#safe>.wrapper {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
}
#main>#safe>.wrapper>button {
    height: 42px;
    width: 100px;
}