body {
    background-color: #FAFAFA;
}
body>header {
    background-color: #FFFFFF;
}
#main {
    background-color: #FFFFFF;
    width: 930px;
    margin: 100px auto;
    padding: 50px 80px;
}

#main>#upload {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 400px 400px;
    justify-content: space-between;
}
#main>#upload>div>label {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
#main>#upload>#cover>img {
    width: 400px;
    height: 225px;
}
#main>#upload>#video>video {
    width: 400px;
    height: 225px;
}

#main>div>h1 {
    font-weight: normal;
    font-size: 18px;
}
#main>div>h1.required::before {
    content: "*";
    color: red;
}
#main>div>input {
    height: 40px;
    padding: 0 12px;
    line-height: 40px;
}
#main>#channel>div>select {
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    height: 40px;
    padding: 0 10px;
    margin-right: 16px;
}
#main>#channel>div>select#main_channel {
    width: 90px;
}
#main>#channel>div>select#sub_channel {
    width: 160px;
}
#main>#channel>div>span {
    color: #999;
    font-size: 14px;
}
#main>#channel>div {
    display: flex;
    align-items: center;
}
#main>#label>div {
    display: flex;
    margin-bottom: 16px;
    flex-wrap: wrap;
}
#main>#label>div>span {
    border: 1px solid #ccd0d7;
    height: 30px;
    line-height: 30px;
    border-radius: 15px;
    padding: 0 15px;
    user-select: none;
    margin: 0 10px 8px 0;
    min-width: 20px;
    text-align: center;
    cursor: pointer;
}
#main>#label>button {
    position: relative;
    top: -41px;
    left: 855px;
}
#main>div>textarea {
    padding: 10px;
    height: 160px;
    resize: none;
}
#main>div>textarea, #main>div>input {
    width: 100%;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    font-size: 14px;
    transition: border .3s ease;
}
#main>div>textarea:focus, #main>div>input:focus {
    border-color: #00A1D6;
}

#main>button {
    display: block;
    margin: 20px auto 0 auto;
}

#main button, #main>#upload>div>label {
    background-color: #00A1D6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.1s;
    width: 100px;
    height: 40px;
}
#main button:disabled {
    background-color: #f5f5f5 !important;
    color: rgba(0, 0, 0, 0.25) !important;
    border: 1px #d9d9d9 solid !important;
    cursor: not-allowed !important;
}
#main button:hover, #main>#upload>div>label:hover{
    background: #33b4de;
}
